# Configuración principal para el framework pre-commit
repos:
  # --- HOOKS GENERALES DE REPOSITORIO ---
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # Última versión estable
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
      - id: check-json
        stages: [pre-commit]
      - id: debug-statements
        stages: [pre-commit]

  # --- Formateador de Código ---
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        language_version: python3.12
        stages: [pre-commit]

  # --- Ordenar Importaciones ---
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (python)
        args: ["--profile", "black"]
        stages: [pre-commit]

  # --- Linter ---
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        stages: [pre-commit]
        args: ["--max-line-length=120", "--ignore=E203,W503,E741,F401,F405,F841"]

  # --- VALIDACIÓN DE MENSAJES DE COMMIT ---
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  # Excluye mensajes de merge
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
